

@media screen and (max-width: 900px), (max-height: 600px) {
  .reveal .slides {
      font-size: 0.82em;
  }
}

@media screen and (max-width: 700px), (max-height: 400px) {
  .reveal .slides {
      font-size: 0.66em;
  }
}

/*
.reveal li{margin-left:5px}
.reveal table{font-size: 0.5 em;line-height: 0.8em;}
.reveal .slides > section{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px}*/
.reveal ol,
.reveal dl,
.reveal ul {
  text-align: left;
  line-height: 1.4;
  display: inherit;
  
}
/*.reveal pre {width: 100%;}*/

.reveal pre code{
  font-size: 16px;
  line-height: 1.4;
  max-height: 100%;
  overflow: auto;
  width: 100%;
  }

a { word-wrap: break-word;}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.truncate:hover {
  
  white-space: normal;
  overflow:visible;

   }

.DescriptionExcerpt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
